.content {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #fff;
}

.dash-margem{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.fornecedor-name-m {
    height: 30vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(20vw);
}

.margem-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(10vh);
}

.grafico {
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-height: 1450px) { 
    .margem-section {
        
    }
}